{% extends "base.html" %}

{% block content %}
<h2>/ {{ board.slug }} / - {{ board.title }}</h2>

<div class="reply-form">
    <form action="/{{ board.slug }}/post" method="POST" enctype="multipart/form-data">
        <textarea name="content" rows="3" cols="40" placeholder="New thread content..." required></textarea><br>
        <input type="file" name="file" accept="image/*"><br>
        <button type="submit">Post Thread</button>
    </form>
</div>
<hr>

<div class="board-index">
    {% for pair in threads %}
    <div class="thread-preview">
        <a href="/{{ board.slug }}/thread/{{ pair.0.id }}">View Thread No.{{ pair.0.id }}</a>
        
        {# Changed to if let to handle Option<String> correctly #}
        {% if let Some(mid) = pair.1.media_id %}
            {% if mid.len() > 4 %}
                <div class="thumb">
                    <img src="/static/uploads/{{ mid[..2] }}/{{ mid[2..4] }}/thumb_{{ mid }}.webp" 
                        style="max-width: 150px; display: block; margin: 10px 0;">
                </div>
            {% endif %}
        {% endif %}

        <p>{{ pair.1.content|safe }}</p>
    </div>
    <hr />
    {% endfor %}
</div>
{% endblock %}